{% extends 'base.html' %}

{% block content %}
<main class="messagePage my-xl">
    <div class="content-box">
        <div class="message">
        <a class="backButton" href="{% url 'inbox' %}">
            <i class="bi bi-arrow-left"></i>
        </a>
        <h2 class="message__subject">{{ message.subject }}</h4>
            <a href="{% if message.sender %} {% url 'profile_detail' message.sender.id %} {% else %}mailto:{{ message.email }}{% endif %}" class="message__author">{{ message.fullname }}</a>
            <p class="message__date">May 31, 2021, 04:37 PM</p>
            <div class="message__body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ea? Facere minus vel nam, quas nisi dolore
            possimus tempora commodi. Praesentium nisi totam quas pariatur culpa nostrum dolore, nemo voluptatem!
            <br /><br />
            Voluptate dolores veniam ducimus cumque, harum fuga quaerat, culpa distinctio voluptas magnam a unde
            reiciendis similique necessitatibus obcaecati voluptatibus deserunt voluptatum numquam ullam in ipsum, ea
            aperiam. Dolorum rerum pariatur quaerat. Debitis tempora aliquid libero alias aperiam illo fuga ipsum magni
            quia.
            </div>
        </div>
    </div>
</main>
{% endblock content %}