{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="auth">
	<div class="card">
		<div class="auth__header text-center">
			<a href="{% url 'developers' %}">
				<img src="{% static 'images/icon.svg' %}" alt="icon" />
			</a>
			<h3>Account Login</h3>
			<p>Hello Developer, Welcome Back!</p>
		</div>

		<form action="" class="form auth__form" method="post">
            {% csrf_token %}

			<div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; align-items: center; width: 100%;">
				<div style="width: 90px; border-radius: 50%; border: none; background-color: transparent; justify-content: center;">
					<a href="{% url 'social:begin' 'google-oauth2' %}" style="display: flex; align-items: center; justify-content: center;">
						<div>
							<img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/2058fb75442843.5c4cd14030bd5.png" alt="Continue with Google">
							Continue with Google
						</div>
					</a>
				</div>
				<div style="width: 50px; border-radius: 50%; border: none; background-color: transparent; justify-content: center;">
					<a href="{% url 'social:begin' 'github' %}" style="display: flex; align-items: center; justify-content: center;">
						<div style="display: flex; gap: 5px; flex-direction: column;">
							<img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Conitnue with GitHub">
							Continue with GitHub
						</div>
					</a>
				</div>
			</div>

			<br>
			<hr>
			<br>
            
			<div class="form__field">
				<label for="formInput#email">Email: </label>
				<input
					class="input input--text"
					id="formInput#email"
					type="email"
					name="username"
				/>
			</div>

			<div class="form__field">
				<label for="formInput#password">Password: </label>
				<input
					class="input input--password"
					id="formInput#passowrd"
					type="password"
					name="password"
				/>
			</div>

			<div class="auth__actions">
				<input class="btn btn--sub btn--lg" type="submit" value="Log In" />
				<a href="{% url 'password_reset' %}">Forget Password?</a>
			</div>
		</form>
		<div class="auth__alternative">
			<p>Don’t have an Account?</p>
			<a href="{% url 'registration' %}">Sign Up</a>
		</div>
	</div>
</div>
{% endblock content %}
