{% extends 'base.html' %} 
{% load i18n %}

{% block content %}
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<a class="backButton" href="{% url 'login' %}">
				<i class="bi bi-arrow-left"></i>
			</a>
			<br />

			<form class="form" method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}

                <div class="form__field">
                    <label for="email">{% trans 'Email' %}: </label>
                    <input class="input input--text" type="email" name="email" maxlength="254" id="email">
                </div>

				<button class="btn btn--sub btn--lg my-md" type="submit">{% trans 'Send email' %}</button>
			</form>
		</div>
	</div>
</main>
{% endblock content %}
