{% extends 'base.html' %} 
{% load i18n %}

{% block content %}
<main class="formPage my-xl">
	<div class="content-box">
		<div class="formWrapper">
			<form class="form" method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
                {% if form %}
                    <h1>{% trans 'Enter new password' %}</h1>
                    <p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
                    <br>
                    <div class="form__field">
                        <label for="new_password1">{% trans 'New password' %}: </label>
                        <input class="input input--text" type="password" name="new_password1" maxlength="254" id="new_password1">
                    </div>
                    <div class="form__field">
                        <label for="new_password2">{% trans 'Password confirmation' %}: </label>
                        <input class="input input--text" type="password" name="new_password2" maxlength="254" id="new_password2">
                    </div>

                    <button class="btn btn--sub btn--lg my-md" type="submit">{% trans 'Change my password' %}</button>
                {% else %}
                    <h1>{% trans 'Password reset unsuccessful' %}</h1>
                    <p>{% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}</p>
                {% endif %}
			</form>
		</div>
	</div>
</main>
{% endblock content %}
